* {
    font-family: 'Noto Sans KR' ,-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
book:nth-child(1) {
    color: red;
}
body {
    font-size: 10px;
    margin: 0;
    padding: 0;
    background-color: #011133;
    min-height: 100vh;
    overflow: hidden;
}
body, header, section, article, aside, div, ul, footer {
    box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6, a, p, span {
    margin: 0;
    padding: 0;
    line-height: 1.3em;
    letter-spacing: 0.01em;
}
a {
    cursor: pointer;
    opacity: 0.8;
    transition: 0.2s ease-in;
}
a:hover {
    opacity: 1;
}
header {
    padding: 1em 2em;
    margin-bottom: 1em;
}
header > p {
    font-size: 2em;
    color: #f0f0f0;
    display: inline-block;
}
header > div {
    float: right;
}
header > div * {
    display: inline-block;
    color: #f0f0f0;
}
article {
    position: relative;
    float: left;
}
.main-article {
    width: 100%;
}
article:not(.main-article) {
    min-width: 300px;
    position: relative;
    padding: 2em;
    width: 42.5%;
    min-height: 50vh;
}
aside {
    float: right;
    width: 15%;
}
aside .menu-box {
    width: 40px;
    line-height: 5px;
    cursor: pointer;
    opacity: 0.8;
    float: right;
    margin-right: 1em;
    margin-bottom: 1em;
    position: relative;
    top: 30px;
}
aside .menu-box:hover {
    opacity: 1;
}
aside .menu-box span {
    border-bottom: 5px solid #ddd;
    display: block;
    margin: 7px 0;
    border-radius: 3px;
    transition: transform 0.15s linear;
    position: relative;
}
aside .menu-box.active span:nth-child(1) {
    opacity: 0;
}
aside .menu-box.active span:nth-child(2) {
    transform: rotate(45deg);
}
aside .menu-box.active span:nth-child(3) {
    transform: rotate(-45deg);
    top: -13px;
}
aside h3 {
    display: inline-block;
    font-size: 2em;
    color: #fff;
    font-weight: 600;
    border: 3px solid #fff;
    padding: 0.5em;
    border-radius: 0.5em 0.5em 0 0;
    border-bottom: 0;
    position: relative;
    top: 32px;
    z-index: 1;
}
aside h3:after {
    border-bottom: 3px solid #011133;
    width: 100%;
    left: 0;
    bottom: -1px;
    position: absolute;
    content: "";
}
aside ul {
    list-style: none;
    padding: 0 1em;
    margin-top: 3em;
    max-height: 80vh;
    overflow-y: auto;
    border: 3px solid #eee;
    border-right-color: transparent;
    border-radius: 0 0 0 1em;
}
aside ul li {
    font-size: 1.8em;
    color: #eee;
    margin: 0.8em 0;
    position: relative;
    opacity: 0.8;
}
aside ul li:hover {
    opacity: 1;
    cursor: pointer;
}
aside ul li.cleared {
    color: #00ff00;
}
aside ul li.cleared:before {
    position: absolute;
    width: 3px;
    height: 20px;
    transform: rotateZ(40deg);
    background-color: #00ff00;
    content: "";
    display: inline-block;
    border-radius: 5px;
    bottom: 1px;
    right: 5px;
    margin-left: 3em;
    opacity: 1;
}
aside ul li.cleared:after {
    position: absolute;
    width: 3px;
    height: 12px;
    transform: rotateZ(-50deg);
    background-color: #00ff00;
    content: "";
    border-radius: 5px;
    bottom: 1px;
    right: 15px;
}
aside h3, aside ul {
    transform: translateX(20vw);
    opacity: 0;
    visibility: hidden;
    transition: all 0.15s linear;
}
aside .menu-box.active + h3, aside .menu-box.active + h3 + ul {
    transform: translateX(0);
    visibility: visible;
    opacity: 1;
}
.question-article {
    float: left;
}
.question-head {
    position: relative;
    margin-bottom: 3em;
}
.question-head h1 {
    font-size: 3em;
    color: #ddd;
    float: left;
    max-width: calc(100% - 60px);
}
.question-head .check {
    width: 5px;
    height: 30px;
    transform: rotateZ(40deg);
    background-color: #ddd;
    display: inline-block;
    position: relative;
    border-radius: 5px;
    top: 3px;
    left: 5px;
    margin-left: 3em;
    opacity: 0.35;
}
.question-head .check:after {
    position: absolute;
    width: 5px;
    height: 15px;
    transform: rotateZ(-90deg);
    background-color: #ddd;
    content: "";
    border-radius: 5px;
    bottom: -8px;
    left: -6px;
}
.question-head .cleared + .check, .question-head .cleared + .check:after {
    background-color: #00ff00;
    opacity: 1;
}
.q-description {
    background-color: #00000a;
    padding: 2em;
    border-radius: 0.5em;
    margin-bottom: 3em;
}
.q-description p:first-child {
    color: #eee;
    font-size: 1.8em;
    line-height: 1.5em;
    margin-bottom: 2em;
    min-height: 7em;
    border-bottom: 1px solid #33333a;
}
.q-description .target-tag {
    display: inline-block;
    background-color: #33333a;
    padding: 0.3em;
    margin-right: 0.5em;
    border-radius: 0.3em;
}
.q-description .hint {
    font-size: 1.8em;
    font-weight: 600;
    color: #eee;
    margin-bottom: 1em;
}
.q-description .hint + p {
    color: #eee;
    font-size: 1.6em;
    padding-left: 1em;
    line-height: 2.5em;
}
.q-answer {
    background-color: #efefef;
    padding: 1em;
    border-radius: 0.5em;
    margin-bottom: 3em;
    font-size: 1.8em;
    color: #aaa;
    position: relative;
}
.q-answer.failed {
    animation: animation-earthquake 0.1s 10 linear;
}
.q-answer input {
    padding: 0.5em;
    width: calc(100% - 85px);
    background-color: #fff;
    border: 1px solid #333;
    font-size: 1em;
    display: inline-block;
    box-sizing: border-box;
    color: #333;
}
.q-answer input:focus {
    outline: none;
}
.q-answer input.empty {
    border-color: transparent;
    animation-name: animation-empty;
    animation-duration: 1.2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
.btn-submit {
    display: inline-block;
    width: 80px;
    padding: 0.2em;
    background-color: #333;
    cursor: pointer;
    border-radius: 0.3em;
    color: #fff;
    box-shadow: 3px 0px 5px #333;
    border-bottom: 7px solid #222;
    text-align: center;
    opacity: 0.9;
    position: relative;
    top: -4px;
}
.btn-submit:hover {
    opacity: 1;
}
.btn-submit.press {
    animation: animation-press 0.15s linear 1;
    opacity: 1;
}
.desk-article {
    margin-top: 6.3em;
    text-align: center;
    float: right;
}
.desk-wrap {
    position: relative;
    margin: 0 auto;
    display: inline-block;
    height: 200px;
    margin-bottom: 50px;
    width: 80%;
}
.desk {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: auto;
    grid-auto-flow: column;
    justify-items: center;
    background-color: #c38c39;
    transform: skew(-5deg, 0deg);
    border-radius: 0.5em;
    min-height: 130px;
    box-shadow: 5px 5px 5px #000;
    padding: 2em 1em;
    position: relative;
}
.desk > * {
    margin: 0 2em;
}
book, pen, eraser, cup {
    width: 64px;
    height: 64px;
    display: inline-block;
}
book {
    background-image: url(../images/book.svg);
}
pen {
    background-image: url(../images/pen.svg);
}
eraser {
    background-image: url(../images/eraser.svg);
}
cup {
    background-image: url(../images/cup.svg);
}
.desk-leg {
    display: inline-block;
    position: relative;
    background-color: #ddd;
    height: 50px;
    width: 20px;
    float: left;
    z-index: -1;
    border-radius: 0.2em;
    box-shadow: 3px 3px 5px #333;
    left: 15px;
    opacity: 0.8;
}
.desk-leg:last-of-type {
    float: right;
    left: -25px;
}
.desk-leg:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 12px;
    left: 0;
    bottom: 0;
    background-color: #7a86b1;
}
.desk *.active {
    animation: animation-shake 1s linear infinite;
}
.desk *.flying {
    animation: animation-flying 0.1s linear 1;
    opacity: 0;
}
.focus {
    opacity: 1;
    font-weight: 600;
    background-color: #aaa;
}
note {
    width: 70px;
    background: #333;
    display: inline-block;
    height: 80px;
    box-shadow: 2px 2px 5px #666;
    position: relative;
}
note:before {
    display: block;
    position: absolute;
    content: "";
    font-size: 1.4em;
    text-align: center;
    font-weight: 400;
    width: 80%;
    left: 5px;
    top: 10px;
    background-color: #fff;
    height: 10px;
}
note:after {
    display: block;
    position: absolute;
    content: "";
    font-size: 1.4em;
    text-align: center;
    font-weight: 400;
    width: 80%;
    left: 5px;
    bottom: 15px;
    background-color: #eee;
    height: 30px; 
}
.html-viewer {
    display: block;
    position: relative;
    text-align: left;
    background: #eee;
    border-radius: 5px;
    padding: 1em;
    font-size: 1.8em;
}
.html-viewer > div {
    color: #999;
}
.html-viewer div * {
    color: #000;
    cursor: default;
    opacity: 0.55;
    transition: opacity 0.2s linear;
    padding: 0 1em;
}
.html-viewer div *:hover {
    opacity: 1;
    font-weight: 600;
}
.item-tooltip {
    position: absolute;
    width: 0;
    height: 0;
    animation: animation-balloon 0.8s linear infinite;
    opacity: 1;
    border-top: 24px solid #fff;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
}
footer {
    float: left;
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 1.2em 2em;
    background: #00000a;
}
footer > p {
    color: #aaa;
    font-size: 1.6em;
}
footer > p a {
    text-decoration: none;
    font-weight: 600;
    color: #fff;
    padding: 0 0.5em;
}
footer .icon-author {
    margin-top: 2em;
    color: #777;
    font-size: 1.4em;
}
footer .icon-author * {
    color: #777;
    text-decoration: none;
}
footer .icon-author h4 {
    color: #aaa;
}
@media (max-width: 1199px) {
    body {
        margin-top: 46px;
    }
    header {
        position: fixed;
        top: 0;
        width: 100vw;
        background-color: #00000a;
        z-index: 1;
    }
    header > div {
        display: none;
    }
    article:not(.main-article) {
        width: 100%;
    }
    aside {
        position: fixed;
        right: 0;
        top: 0;
        width: 50%;
        z-index: 1;
        opacity: 0.9;
    }
    aside .menu-box {
        top: 5px;
        width: 30px;
        position: absolute;
        right: 0;
        z-index: 2;
    }
    aside .menu-box span {
        border-bottom-width: 3px;
    }
    aside .menu-box.active span:nth-child(3) {
        top: -11px;
    }
    aside ul, aside h3 {
        background: #011133;
        border-width: 2px;
        border: 0;
    }
    aside h3 {
        display: block;
        top: 0;
        border-radius: 0;
    }
    aside ul {
        padding: 1em 2em;
        margin-top: 0;
    }
    .desk-article {
        margin-top: 0;
    }
    footer {
        position: relative;
        margin-top: 2vh;
    }
}
@media (max-width: 991px) {
    body {
        font-size: 8px;
        overflow-y: auto;
    }
    article:not(.main-article) {
        min-height: auto;
    }
    header {
        padding: 2.2em;
    }
    aside h3 {
        padding: 1.1em;
    }
    aside ul {
        padding: 0em 2em;
    }
    .desk-article {
        margin-top: 60px;
    }
    .desk-wrap {
        overflow-x: auto;
        overflow-y: hidden;
        margin-bottom: 10px;
        height: 150px;
    }
    .desk {
        transform: skew(0);
        min-height: 105px;
    }
    .html-viewer {
        display: none;
    }
    .question-head .check {
        top: -2px;
    }
    .question-head .check:after {
        left: -5px;
    }
}
@media (max-width: 500px) {
    html, body {
        width: 500px;
    }
    .desk-wrap {
        width: 90%;
    }
    .desk {
        min-height: 100px;
    }
}